.plane-container {
    margin: 20vh auto;
    display: grid;
    width: 90vw;
  }
  .plane-container.direct {
    grid-template-columns: 2fr 8fr;
  }
  .plane-container.direct .plane-details {
    order: 1;
  }
  .plane-container.direct .plane-image {
    order: 2;
  }
  .plane-container.reverse {
    grid-template-columns: 8fr 2fr;
  }
  .plane-container.reverse .plane-details {
    order: 2;
  }
  .plane-container.reverse .plane-image {
    order: 1;
  }
  .plane-container .plane-image {
    height: 90vh;
  }
  .plane-container .plane-image img {
    display: none;
  }
  .plane-details {
    width: 140px;
    align-self: center;
    justify-self: center;
  }
  .plane-details h6 {
    font-size: 20px;
    font-weight: 500;
  }
  .plane-details p {
    font-size: 12px;
    line-height: 14.5px;
    color: #666;
  }
  .plane-details .vertical-line {
    height: 1px;
    width: 50px;
    background-color: #424242;
    margin: 20px 0 25px;
  }
  .Plane {
    width: 60vw;
    height: 60vh;
    margin: 20vh auto;
  }
  .Plane img {
    display: none;
  }
  