.bg-container {
  position: relative;
  height: 100vh;
}

.turntable-dark {
  background-image: url('../assets/images/turnvinyl.png');
  height: 400px;
  width: 400px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  /* En dessous du vinyle */
  top: 30%;
  left: 34%;
}



.spinner-style-dark {
  background-image: url('../assets/images/vinyl.png');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 2;
  /* Au-dessus de la platine */
  top: 35%;
  left: 35%;
}



@media screen and (max-width: 768px) {
  .bg-container {
    top: 50%;
    /* Adjust the value as needed */
    left: 50%;
    /* Adjust the value as needed */
    height: 50vh;
  }

}