.bg-container {
  position: relative;
  height: 100vh;
}

.turntable-dark {
  background-image: url('../assets/images/platyne.png');
  height: 310px;
  width: 680px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 24%;
}



.spinner-style-dark {
  background-image: url('../assets/images/vinyl.png');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 46%;
}



@media screen and (max-width: 768px) {
  .bg-container {
    top: 50%;
    /* Adjust the value as needed */
    left: 50%;
    /* Adjust the value as needed */
    height: 50vh;
  }

}