
.bg-container {
  position: relative;
  height: 100vh;
  top: 40%; 
  left: 40%; 
  margin-bottom: 100px;
}

.absolute-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;


}

.colored-circle {
  position: absolute;
  border-radius: 50%;
}

.first-circle {
  width: 300px;
  height: 300px;
  top: 20%;
  left: 0%;
  background-color: #1501FF;
}

.first-circle::after {
  content: attr(data-text);
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 16px; 
  font-weight: bold;
  color: #FFE7C2;
  text-align: center;
}

.second-circle {
  width: 300px;
  height: 300px;
  top: 20%;
  left: 0%;
  background-color: #D5FF3C;
}
.second-circle::after {
  content: attr(data-text); 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 16px; 
  font-weight: bold; 
  color: #333333;
  text-align: center; 
}

#homeImg {
  transform: translate(0%, 100%);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 20%;
  left: 0%;
  object-fit: cover;
  z-index: 999;
}

.spinner-style {
  background-image: url('../assets/images/Vector.png');
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  position: absolute;

}


.spinner-style::after {
  content: attr(data-text); 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 16px; 
  font-weight: bold; 
  color: #D5FF3C; 
  text-align: center;
}