/* General styles */

.title-about {
  font-size: 5em !important;
  text-align: left;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  margin-left: 80px;
  font-weight: bold;
}

.about-section {
  min-height: 100vh; /* Assure que la section occupe au moins toute la hauteur de l'écran */
  overflow: hidden;
  width: 100%;
  margin-bottom: 200px;
}

.about-box {
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap; /* Permet à l'image et au texte de s'ajuster plus facilement */
}

.about-text {
  width: 50%;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4em;
  color: #000000;
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) {
  .about-box {
    flex-direction: column-reverse; 
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-text {
    width: 100% !important; 
    font-size: 1.2em; 
    order: -1; 
  }

  .about-img {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .title-about {
    font-size: 2em; 
    text-align: center;
    margin-left: 0; 
  }
}

