/* General styles */

.title-about {
  font-size: 5em !important;
  /* -webkit-text-stroke: 1px rgb(5, 5, 5); 
  color: transparent !important;
  font-family: "Bowlby One", sans-serif; */
  text-align: left;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  margin-left: 80px;
  font-weight: bold;
}

.about-section {
  min-height: 100vh; /* Assure que la section occupe au moins toute la hauteur de l'écran */
  overflow: hidden;
  width: 100%;
  margin-bottom: 200px;
}

.about-box {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap; /* Permet à l'image et au texte de s'ajuster plus facilement */
}

.about-text {
  width: 40%;
  text-align: left;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.4em;
  color: #000000;
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) {
  .about-box {
    flex-direction: column; /* Aligner verticalement l'image et le texte */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .about-text {
    width: 90%; /* Ajuster la largeur du texte pour être plus lisible sur mobile */
    font-size: 1.2em; /* Réduire la taille de police sur mobile */
    order: -1; /* Placer le texte avant l'image */
  }

  .about-img {
    width: 100%; /* S'assurer que l'image prenne la largeur complète */
    margin-bottom: 20px; /* Espacement entre l'image et le texte */
  }

  .title-about {
    font-size: 2em; /* Diminuer la taille du titre sur mobile */
    text-align: center; /* Centrer le titre sur mobile */
    margin-left: 0; /* Supprimer la marge gauche sur mobile */
  }
}

