.accordion-list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Par défaut, une seule carte par ligne */
    gap: 20px; /* Espace entre les cartes */
    padding: 20px; /* Optionnel : espacement autour du conteneur */

  }
  
  /* Sur les écrans de taille moyenne et plus (tablettes et desktop) */
  @media (min-width: 768px) {
    .accordion-list-container {
      grid-template-columns: repeat(1, 1fr); /* 2 cartes par ligne sur tablette */
    }
  }
  
  /* Sur les grands écrans (desktop) */
  @media (min-width: 1024px) {
    .accordion-list-container {
      grid-template-columns: repeat(3, 1fr); /* 3 cartes par ligne sur desktop */
    }
  }
  