.accordion {
    width: 100%;
  }

  .hovered-image {
    display: block !important;
    height: 200px !important;
    max-height: 300px !important;
    margin-top: 10px !important;
  }

  .title {
    text-transform: uppercase;
    /* font-weight: bold; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .content {

    font-size: larger;
  }

  .iconDown {
    fill: #D5FF3C;
  }

  .iconDowndark  {
    fill: #333333;
  }
