.accordion {
  width: 100%;
}

.hovered-image {
  display: block !important;
  height: 50px !important;
  max-height: 300px !important;
  margin-top: 10px !important;
}

.titleText{
  -webkit-text-stroke: 1px #333333;
  color: transparent !important;
  text-transform: lowercase;
  font-size: 1.6rem !important;
  margin-left: 50px !important;
}
.titleText-dark {
  -webkit-text-stroke: 1px #D5FF3C;
  color: transparent !important;
  text-transform: lowercase;
  font-size: 1.6rem !important;
  margin-left: 50px !important;
}
.title-dark:hover .titleText-dark{
  color: #D5FF3C !important;
}


.title:hover .titleText{
  color: #333333 !important;
}

.content {

  font-size: larger;
}

.iconDown {
  fill: #D5FF3C;
}

.iconDowndark {
  fill: #333333 !important;
}

.carouselstyle {
  max-width: 400;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
  padding: 10px;
  text-align: start;
}

@media screen and (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}

.content-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.carousel-container {
  width: 100%;

  @media (min-width: 768px) {
    width: 50%; /* Adjust as needed */
  }
}

.accordion-content {
  background-color: transparent !important;
  border: none;
}

.accordion-content:hover {
  background-color: #b269ff !important;
  border: none;
}

.dark-mode .accordion-content:hover {
  background-color: rgba(87, 87, 87, 0.748) !important;
  border: none;
}


.accordion-expanded.dark-mode {
  background-color: rgba(87, 87, 87, 0.748) !important;
  border: none
}

.accordion-expanded {
  background-color: #b269ff !important;
}