
.title-dates {
  font-size: 4em !important;
  color: #000000 !important;
  font-family: "Rethink Sans", sans-serif;
  text-align: left;
  margin-left: 80px;

}

.title-dates:hover {
  font-weight: bold;
}

.dates-box {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-content {
  width: 50%;
}