/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.title-dates {
  /* font-family: "Bagel Fat One", system-ui !important; */
  font-size: 5em !important;
  color: #000000 !important;
  text-align: left;
  margin-left: 80px;
}

.title-dates:hover {
  text-decoration: underline;
}

.dates-box {
  margin-bottom: 80px;
}