
.title-dates {
  font-size: 4em !important;
  color: #000000 !important;
  font-family: "Rethink Sans", sans-serif;
  text-align: left;
  margin-left: 80px;

}

.title-dates:hover {
  font-weight: bold;
}

.dates-box {
  display: block;
  /* justify-content: center;
  align-items: center; */
}

/* .bloc-content {
  width: 50%;
  margin: auto;
} */

/* Media query pour les écrans plus petits */
@media (max-width: 768px) {
  .dates-box {
    display: none; /* Rendre invisible le bloc dates-box sur les petits écrans */
  }
}