.card {
    background-image: linear-gradient(to top, #1501FF, #BEA4C7, #a8eb12);
}

.btnVoir {
    margin-top: 30px !important;
    background-color: #a8eb12 !important;
    color: #1501FF !important;
    font-weight: bold !important;
    padding: 5px !important;
    text-transform: lowercase !important;
}

.experience-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; /* Optional: Center the columns horizontally */
  }

.bg-content{
    position: absolute;
    height: 100vh;
}