.card {
    background-image: linear-gradient(to top, #1501FF, #BEA4C7, #a8eb12); 
}

.btnVoir {
    margin-top: 30px !important;
    background-color: #a8eb12 !important;
    color: #1501FF !important;
    font-weight: bold !important;
    padding: 5px !important;
    text-transform: lowercase !important;
}

.bg-content {
    /* position: relative;
    height: 100vh;
    top: 40%; 
    left: 40%;  */
    margin-bottom: 100px;
  }
  
.absolute-content {
    /* position: absolute;
    transform: translate(-50%, -50%); */
    text-align: center;
    color: #FFE7C2;
  }