

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
  max-width: 1200px;
  color: #D5C5B6;
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 20px;

  flex-direction: column;
}

.footer-links li {
  display: flex;
  flex-direction: column;
  color: '#FFE7C2';
  text-align: center;
}

.footer-links li a {
  text-decoration: none;
  padding-right: 4px;
}

.footer-link {
  color: #000000 !important;
  font-size: 3.5em !important;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  text-transform: lowercase;
}


@media (max-width: 768px) {
  .footer-link  {
    font-size: 2.5em !important;

  }

}

.footer-text {
  color: #000000 !important;
}

.footer-content button {
  cursor: pointer;
  padding: 50px;
  background: transparent;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}


.btn-up {
  background-color: none;
  padding: 10px 20px;
  align-items: center;
  color: black;
  margin-left: auto;
  cursor: pointer;
  text-transform: lowercase;
  display: flex;
  font-size: 1.2em;
  border-radius: 50% !important;
  font-family: "Space Grotesk", sans-serif;

}

.btn-up:hover {
  border: 1px solid black !important;
border-radius: 5px;
background-color: greenyellow;

}

.btn-up span {
  color: #000000a7 !important;
  font-weight: bold;
}


.footer-link:hover {
  -webkit-text-stroke: 1px #000000;
  color: transparent !important;
  font-family: "Space Grotesk", sans-serif;
}


@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-link {
    margin: 10px 0;
  }

  .btn-up {
    margin-top: 10px;
  }


}