.footer-container {
  background-color: #1501FF;
  color: '#FFE7C2';  
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  max-width: 1200px;
  color: '#FFE7C2';
  margin-bottom: 100px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: start;
  flex-direction: column;
}

.footer-links li {
  display: flex; 
  flex-direction: column;
  align-items: start; 
  color: '#FFE7C2';

}

.footer-links li a {
  text-decoration: none;
  padding-right: 4px;
}

.footer-link {
  color: '#D5FF3C' !important;
  font-size: xx-large;
}

.footer-links svg {
  margin-right: 4px; 
}

.footer-content button {
  cursor: pointer;
  padding: 50px;
  background: #D5FF3C;
  color: black;
  font-weight: bold;
}

svg {
  overflow: hidden;
  height: 80%;
  /* Fix Safari rendering bug */
  transform: translateZ(0);
  fill: transparent
}

.ball {
background-color: #D5FF3C;
width: 40px;
height: 40px; 
position: fixed;
top: 0;
left: 0;
border-radius: 50%;
mix-blend-mode: difference;
}



