.footer-container {
  background: rgb(21, 1, 255);
  background: linear-gradient(90deg, rgba(21, 1, 255, 1) 35%, rgba(201, 150, 255, 1) 100%);
  color: '#FFE7C2';
  padding: 20px 0;
  text-align: center;
  border-radius: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  color: '#FFE7C2';
  margin-bottom: 100px;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: start;
  flex-direction: column;
}

.footer-links li {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: '#FFE7C2';

}

.footer-links li a {
  text-decoration: none;
  padding-right: 4px;
}

.footer-link {
  color: #D5FF3C !important;
  font-size: xx-large;
  align-items: center;
}


.footer-content button {
  cursor: pointer;
  padding: 50px;
  background: transparent;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}


.arrow {
  fill: #1501FF;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 20;
}

.btn-up {
  width: 150px;
  height: 150px;
  background-color: #D5FF3C;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  position: relative;
}

.btn-up span {
  color: #1501FF;
  font-weight: bold;
  position: absolute;
  top: 80px;
  left: 20;
}

.mail {
  fill: #D5FF3C;
  margin-top: 20px;
}

.github {
  fill: #D5FF3C;
}

.footer-links .mail,
.footer-links .github,
.btn-up .arrow {
  visibility: hidden;
}

.footer-links li:hover .mail {
  visibility: visible;
}

.footer-links li:hover .github {
  visibility: visible;
}

.btn-up:hover .arrow {
  visibility: visible;
}