
/* General styles */

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    z-index: 9000;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
  }
  
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
  }
  
  header ul li a:hover {
    background: white;
    color: black;
  }
  