.modal-image {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.modal-container {
  background-color: #C996FF !important;
  border: 0 !important;
}

.modal-title {
  font-family: Inter;
  text-transform: lowercase;
  font-size: 3.3em !important;
}

.dialog-item {
  background-color: #C996FF !important;
}
