/* ProjectsSection.css */

/* ProjectsSection.css */
.projets-section {
  height: 100%;
  
}

.projets {
  width: 100%;
  margin-top: 50px;
  /* Add any additional styling for the height or other properties */
}

/* Add any additional styles as needed */

  
  .projets-section h2 {
    padding-bottom: 40px;
    color: black;
    text-transform: uppercase;
    margin-left: 10px;
  }
  