
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

.projets-content {
  height: 100%;
  width: 100vw !important;
  margin: 0;
  padding: 0;
}

.projets {
  width: 100%;
  margin-top: 50px;
}


.dates-title {
  font-family: "Bagel Fat One", system-ui !important;
  font-size: 5em !important;
  color: #D78C00 !important;
  text-align: left;
  margin-left: 80px;
}