
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

.projets-content {
  height: 100%;
  width: 100vw !important;
  margin: 0;
  padding: 0;
}

.projets {
  width: 100%;
  margin-top: 50px;
}


.dates-title {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-size: 5em !important;
  /* -webkit-text-stroke: 1px rgb(5, 5, 5); 
  color: transparent !important; */
  text-align: left;
  font-weight: bold;
  margin-left: 80px;
}

.year-title {
  font-family: "Bowlby One", sans-serif !important;
  -webkit-text-stroke: 1px rgb(5, 5, 5); 
  color: transparent !important;
  font-weight: bold;
  font-size: 4em !important;
  margin-top: 0 !important;
  /* color: #D5FF3C !important; */
  text-shadow: -3px -3px #000000 !important;

}

.year-box {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(245,255,180);
  background: -moz-radial-gradient(circle, rgba(245,255,180,0.44441526610644255) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(245,255,180,0.44441526610644255) 0%, rgba(255,255,255,1) 100%);
  background: radial-gradient(circle, rgba(245,255,180,0.44441526610644255) 0%, rgba(255,255,255,1) 100%);
}
.year-box-pink {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background: rgb(255,180,246);
  background: -moz-radial-gradient(circle, rgba(255,180,246,0.53125) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(255,180,246,0.53125) 0%, rgba(255,255,255,1) 100%);
  background: radial-gradient(circle, rgba(255,180,246,0.53125) 0%, rgba(255,255,255,1) 100%);
}