/* SliderSection.css */

/* General styles */

  
  /* Slider section styles */
  .slider-section {

    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
  }
  
  .slider-section h2 {
    padding-bottom: 40px;
    color: #FFE7C2;
    text-transform: uppercase;
    margin-left: 10px;
  }

  
  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  