* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }

  img {
    object-fit: cover;
  }
  .bg-container {
    position: relative;
  }
  .absolute-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .absolute-text h1 {
    font-size: 5rem;
    background-color: rgba(100, 148, 237, 0.644);
  }
  .bg-container img {
    width: 100%;
    height: 90vh;
  }
  .card-container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .card {
    flex-basis: 50%;
    margin: 10px;
    line-height: 1.6;
  }
  .card img {
    width: 100%;
  }
  .subscribe {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
  }
  .subscribe button {
    padding: 10px;
    outline: none;
    cursor: pointer;
  }
  .subscribe input {
    padding: 10px;
    outline: none;
    border: none;
  }