/* TopSection.css */

.bg-container {
  position: relative;
  height: 100vh;
  background-color: #C996FF; /* Your desired purple color */
}

.absolute-text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.colored-circle {
  position: absolute;
  border-radius: 50%;
}

.first-circle {
  width: 300px;
  height: 300px;
  top: 20%;
  left: 50%;
  background-color: #1501FF;
}

.second-circle {
  width: 300px;
  height: 300px;
  top: 20%;
  left: 50%;
  background-color: #4aeb31;
}


