@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  --background-color: #D5C5B6;
  height: 100%;
  --text-color: #000000;
  box-sizing: border-box;
  overflow: hidden;
}

body {
background-color: white;
color: #000000;
}

h1 {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2em !important;
}

.not-centered {
  text-align: left !important;
}

.card {
  padding: 2em;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.loader-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loader-text {
  margin-bottom: 0 !important;
  margin-left: 20px;
  padding-bottom: 0 !important;
  font-family: "Space Grotesk", sans-serif;
  font-size: 2em !important;
}

.loader-bar1 {
  position: absolute;
  height: 15px;
  width: 100vw;
  background-color: #000000;
  top: 75%;
}

.loader-bar2 {
  position: absolute;
  height: 15px;
  width: 100vw;
  background-color: #000000;
  top: 80%;
}

.loader-bar3 {
  position: absolute;
  height: 15px;
  width: 100vw;
  background-color: #000000;
  top: 85%;
}



@media screen and (max-width: 400px) {
  .loader-bar {
    top: 56%;
  }

}




h2 {
  background: linear-gradient(30deg, #848282, #000000);
  padding: 0 !important;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-size: 1.7em !important;
}



hr {
  border: 1px solid #0000009a;
}

.retour-btn {
  display: flex;
  background-color: transparent;
  color: #000000;
  font-family: "Space Grotesk", sans-serif;
}

.retour-btn:hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  color: #000000;
}