@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Rubik&display=swap');

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --background-color: #C996FF;
  /* Light mode background color */
  --text-color: #000000;
  /* Light mode text color */
  /* box-sizing: border-box; */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --background-color: #333333;
  /* Dark mode background color */
  --text-color: #FFE7C2;
  /* Dark mode text color */
}


h1  {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  text-transform: lowercase;
  font-family: Inter;
  -webkit-text-stroke: 1px #333333;
  color: transparent !important;
}

.dark-mode h1  {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  text-transform: lowercase;
  font-family: Inter;
  color: #D5FF3C !important;
  text-shadow: -3px -3px #C996FF !important;
}

.card {
  padding: 2em;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  overflow: hidden;
}

.loader-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loader-wrap h3 {
  font-size: 20px;
  font-weight: 100;
  font-family: "Inter";
}

.counter {
  position: absolute;
  top: 56%;
}

.loader-container p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.loader-bar {
  position: absolute;
  height: 5px;
  width: 100vw;
  background-color: #C996FF;
  border-radius: 100px;
  top: 55%;
}

@media screen and (max-width: 400px) {
  .loader-bar {
    top: 56%;
  }

  .counter {
    top: 57%;
  }
}

.loader-text {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  text-transform: lowercase;
  font-family: Inter;
  color: #D5FF3C !important;
  text-shadow: -3px -3px #C996FF !important;
  font-size: 4.5rem !important;
  font-weight: 900;
}

h2 {
  background: linear-gradient(30deg, #C996FF, #D5FF3C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}