#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --background-color: #C996FF; /* Light mode background color */
  --text-color: #000000; /* Light mode text color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  --background-color: #333333; /* Dark mode background color */
  --text-color: #ffffff; /* Dark mode text color */
}

.card {
  padding: 2em;
}








