.diplome-section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container-diploms {
  margin-top: 80px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.diploms-container {
  position: relative;
  justify-content: center !important;
  margin-top: 20px;
}



.not-centered {
  text-align: left !important;
}

.m-scroll-mobile {
  display: flex;
  position: relative;
  height: 70px;
  margin: auto;
  background-color: #D5FF3C;
  overflow: hidden;
  z-index: 1;
  transform: rotate(-2deg);
  margin-bottom: 50px;
}

.m-scroll__title-mobile {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: all 1s ease;
}

.m-scroll__title-mobile > div {
  display: flex;
  animation: scrollText 8s infinite linear;
}

.m-scroll__title-mobile p {
  margin: 0;
  font-size: 2em;
  font-weight: 800;
  color: #333333;
  transition: all 2s ease;
}

.m-scroll__title-mobile a {
  -webkit-text-stroke: 1px #333333;
  color: transparent;
}

.m-scroll__title-mobile a:hover {
  color: #333333;
}

@keyframes scrollText {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}