.diplome-section {
  width: 100vw;
  min-height: 100vh; /* Change height to min-height */
  position: relative;
  overflow: hidden;
}

.container-diploms {
  margin-top: 80px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diplom-container {
  position: relative;
  justify-content: center !important;
  margin-top: 20px;
}

.buble-style {
  background-image: url('../assets/buble.svg');
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.buble-style::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #1d1c1c;
  text-align: center;
}
