.diplome-section {
  width: 100vw;
  height: 100vh !important;
  position: relative;
  overflow: hidden; 
}

.container-diploms {
  margin-top: 80px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: center; /* Center the content horizontally */
}

.diplom-container {
  position: relative;
  margin-top: 20px; /* Adjust the margin to create space between the heading and bubbles */
}

.buble-style {
  background-image: url('../assets/buble.svg');
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  position: relative; /* Change to relative */
  margin-bottom: 20px; /* Adjust the margin to create space between the bubbles */
}

.buble-style::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  color: #1d1c1c;
  text-align: center;
}
