.container-top {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height to 100% of the viewport height */
  }
  
  /* .div-img {
    text-align: center; 
  } */
  
  .top-img {
    max-width: 600px; 
    max-height: 600px; 
    /* margin: 0 auto;  */
    border-radius: 450px;
  }